* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: "M PLUS Rounded 1c", sans-serif;
  background: linear-gradient(to top left, #9e0059, #ff0054);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
}

main {
  display: flex;
  position: relative;
  width: 55rem;
  height: 35rem;
  background-color: rgba(255, 255, 255, 0.65);
  backdrop-filter: blur(200px);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  /* filter: blur(); */
  overflow: hidden;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5rem;
  flex: 1;
  /* transition: all 0.2s; */
}

.name {
  font-size: 2.5rem;
  letter-spacing: 1.5px;
  font-weight: 500;
  color: rgb(40, 40, 40);
  margin-bottom: 20px;
}

.score {
  font-size: 4.5rem;
  font-weight: 400;
  color: #cb206a;
  margin-bottom: auto;
}

.player--active {
  background-color: rgb(255, 255, 255, 0.7);
}

.player--active .name {
  font-weight: 700;
}

.player--active .score {
  font-weight: 500;
}

.player--active .current {
  opacity: 1;
}

.current {
  background-color: #e14589;
  color: whitesmoke;
  padding: 1rem 3rem;
  font-weight: 400;
  text-align: center;
  border-radius: 5px;
  opacity: 0.9;
}

.current-label {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}

.current-score {
  font-size: 2rem;
}

.dice {
  position: absolute;
  left: 50%;
  top: 30%;
  translate: -50%;
  width: 6rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.btn{
  position: absolute;
  left: 50%;
  translate: -50%;
  border: none;
  font-size: 1.2rem;
  font-family: inherit;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: rgba(255,255,255,0.6);
  padding: 0.5rem 1.5rem;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: 0px 0px 7px rgba(0,0,0,0.2);
  transition: transform 0.2s;
}

.btn--newgame{
  top: 10%;
}

.btn--roll{
  top: 65%;
}

.btn--hold{
  top: 75%;
}

.btn:active{
  transform: translateY(2px);
  box-shadow: 0px 2px 7px rgba(0,0,0,0.25);

}

.player--winner {
  background-color: #282826;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden{
  display: none;
}
